<mat-card appearance="outlined">
    <mat-card-content>
        <div class="content-container">
            <div class="header-title">
                <h2>Demo Investments</h2>
                <button mat-flat-button (click)="onClick()">Add Investments</button>
            </div>

            <div class="investment">
                <div>
                    <p>Current Value</p>
                    <h4>₹4.56 Lakh <span class="span">₹1.76 Lakh Invested</span></h4>
                </div>
                <div>
                  
                        <p>All-Time Returns</p>

                        <h4>₹+2.99 Lakh <span class="span">12.4% p.a.</span></h4>
                
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>